body {
    margin: 0px;
}

.top-nav-ul {
    background-color: #72756C;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 51px;
}

.top-nav-li {
    float: left;
}

.logo {
    padding: 5px;
}

/* dropdown menu */
.dropbtn {
    background-color: #72756C;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #585a53;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display:block;
}

.bot-nav {
    background-color: #91e5f6;
    min-height: 200px;
}

.search-bar {
    position: relative;
    top: 75px; left: 35%;
}

